a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-image: url("sky.jpg");
  background-size: cover;
}

h1 {
  color: #272343;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 5px;
}

ul {
  margin: 0;
  padding-top: 15px;

  color: #272343;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #272343;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

img {
  padding-bottom: 20px;
}
strong {
  color: rgb(35, 35, 35);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}
.weather-frame-wrapper {
  max-width: 600px;
  margin: 30px auto;

  border-radius: 5px;
}

.weather-frame {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #8daecf;
}

.overview {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #ffffff;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
  text-decoration: none;
}
.active {
  color: rgb(35, 35, 35);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #dadde1;
}

.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-max {
  font-weight: 600;
}
.footer {
  color: #dadde1;
}
